@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> Update Customer</h1>

<form>
    <table align="center">

        <tr align="center">
            <td>
                Customer Id
            </td>
            <td> <input type="text" id="Id" /></td>
        </tr>

        <tr align="center">
            <td>
                FirstName
            </td>
            <td> <input type="text" id="FirstName" /></td>
        </tr>

        <tr align="center">
            <td>
                LastName
            </td>
            <td>
                <input type="text" id="LastName" />
            </td>
        </tr>

        <tr align="center">
            <td>
                Address
            </td>
            <td>
                <input type="text" id="Address" />
            </td>
        </tr>
        <tr align="center">
            <td>
                Email
            </td>
            <td>
                <input type="text" id="Email" />

            </td>
        </tr>
        <tr align="center">
            <td>

                VatNumber
            </td>
            <td>
                <input type="text" id="VatNumber" />
            </td>
        </tr>
        <tr align="center">
            <td>
                <input type="button" value="Submit data" onclick="updateCustomer()" />
            </td>
        </tr>
    </table>
</form>

